<div class="container">
  <div class="row space">
    <div class="col-lg-12">
    </div>
  </div>
    <h1>وظائفى المعروضة</h1>
    <div *ngFor="let temp of need" class="row jobCard">
        <div class="col-md-9 cardInfo">
            <div class="input-group">
                <span class="input-group-text">المؤهل</span>
                <input class="ena{{temp.id}}" [(ngModel)]="temp.required_qualification" [value]="temp.required_qualification" type="text" aria-label="First name bb dis" class="form-control" disabled>
              </div>
              <div class="input-group">
                <span class="input-group-text">الشهادات المطلوبه</span>
                <input class="ena{{temp.id}}" [(ngModel)]="temp.required_certificates" [value]="temp.required_certificates" type="text" aria-label="First name bb dis" class="form-control" disabled>
              </div>
              <div class="input-group">
                <span class="input-group-text">المهارات المطلوبه</span>
                <input class="ena{{temp.id}}" [(ngModel)]="temp.required_skills" [value]="temp.required_skills" type="text" aria-label="First name bb dis" class="form-control" disabled>
              </div>
              <div class="input-group">
                <span class="input-group-text">معلومات عن الوظيفه</span>
                <input class="ena{{temp.id}}" type="file" aria-label="First name bb dis" class="form-control" disabled>
              </div>
            </div>
        <div class="col-md-3 lll">
            <div class="row cardBtns">
                <div class="col-md-11 col-4"><button (click)="enableInputs(temp.id)" type="button" class="btn btn-success">تعديل</button></div>
                <div class="col-md-11 col-4"><button (click)="update(temp)" type="button" class="btn btn-success">حفظ</button></div>
                <div class="col-md-11 col-4"><button (click)="delete(temp)" type="button" class="btn btn-success">حذف</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">
                  <a routerLink="/app-list/{{temp.id}}">
                    المتقدمين
                  </a>
                </button></div>
            </div>
        </div>
    </div>
</div>
