<div class="contain">
    <div class="row first">
        <div class="col-lg-3 col-md-5 col-xs-12 col-ms-12 content">
           <h2 class="m">Team Of Life</h2>
           <h4 class="m">Ceo & Founder</h4>
           <div class="separate m"></div>
           <a href="#"><i class="fab fa-facebook-square"></i></a>
           <a href="#"><i class="fab fa-twitter-square"></i></a>
           <a href="#"><i class="fab fa-instagram-square"></i></a>
           <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 col-ms-12 pic">
            <img class="handPic" src="../../../assets/images/hands.jpg" alt="give hand">
        </div>
        <div class="col-lg-3 col-md-5 col-xs-12 col-ms-12">
            <div class="row m iq">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2"><i class="fas fa-phone-square-alt"></i></div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-5"><p>+000 232 321 454</p><p>+000 232 321 454</p></div>
            </div>
            <div class="row m iq">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2"><i class="far fa-envelope"></i></div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-5"><p>esmailelsheikh20@gmail.com</p><p>esmailelsheikh20@gmail.com</p></div>
            </div>
            <div class="row m iq">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2"><i class="fas fa-map-marker-alt"></i></div>
                <div class="col-lg-9 col-md-9 col-sm-5 col-5"><p>street name</p><p>new yerk city, Zip - 100</p></div>
            </div>
        </div>
    </div>
</div>
