.container{
    padding:30px 0;
}
.input-group{
    direction:rtl;
}
.input-group-text{
    width:35%;
}
.input-group *{
    margin:5px;
}
div span{
    background-color: #2ECC71;
    color: white;
}
.jobCard{
    border: 2px solid rgb(99, 99, 99);
    padding: 20px 10px;
    margin: 20px 0;
    direction: rtl;
    align-items: center;
}
.jobCard *{
    direction: rtl;
}
.cardInfo{
    border-left: 2px solid rgb(99, 99, 99);
}
.cardBtns button{
    background-color: #2ECC71;
    margin: 10px 0;
    width: 100%;
}
.jobCard p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.row{
    justify-content: space-around;
}
h1{
    margin-bottom: 50px;
    text-align:center
}
.space{
    height: 100px;
}
@media screen and ( max-width:768px ) {
    .cardInfo{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-left: 0px solid rgb(99, 99, 99);
        border-bottom: 2px solid rgb(99, 99, 99);
    }
    .container{
        margin-left: 1px;
    }
    .space{
        height: 150px;
    }
}