<div class="container">
    <div class="row space">
        <div class="col-lg-12">
        </div>
      </div>
    <h1>قائمه المتقدمين على الرحله</h1>
    <div class="row appCard">
        <div class="col-md-6 infoBox">
            <p>الاسم : {{ "اسماعيل مدحت على الشيخ" }}</p>
            <p>رقم التلفون : {{ "2221133344554" }}</p>
        </div>
        <div class="col-md-6">
            <div class="row cardBtns">
                <div class="col-md-6 col-6"><button type="button" class="btn btn-success">ارسال رساله</button></div>
                <div class="col-md-6 col-6"><button type="button" class="btn btn-success">محادثه</button></div>
                <div class="col-md-6 col-6"><button type="button" class="btn btn-success">رفض</button></div>
                <div class="col-md-6 col-6"><button type="button" class="btn btn-success">قبول</button></div>
            </div>
        </div>
    </div>
</div>
