<header>
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-11 firstHead">
            <h2>Help me!</h2>
            <a><i class="far fa-comments navbar-text listItem"></i></a>
            <a><i class="fas fa-bell navbar-text listItem"></i></a>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-11">
            <a class="listItem" routerLink="/profile">الرئيسيه</a>
            <a class="listItem">تواصل معنا</a>
            <a class="listItem">عنا</a>
            <a class="listItem">تحديث الموقع</a>
          <a class="listItem" routerLink="/login">تسجيل الدخول</a>
            <div class="options"><i id='list' (click)="send()" class="fas fa-list-alt optionsicon"></i></div>
        </div>
    </div>
</header>

