<div class="container">
    <div class="row space">
        <div class="col-lg-12">
        </div>
      </div>
    <h1>طلبات التوصيل الخاصه</h1>
    <div class="row jobCard">
        <div class="col-md-9 cardInfo">
                <div class="row">
                    <span class="col-md-4 heads">الالاسم :</span>
                    <input type="text" class="col-md-7 Inputs" value='اسماعيل مدحت على الشيخ'>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">التلفون :</span>
                    <input type="number" class="col-md-7 Inputs" value=666655555>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">نوع الخدمه :</span>
                    <input type="text" class="col-md-7 Inputs" value='توصيل'>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">نقطه البدايه :</span>
                    <input type="text" class="col-md-7 Inputs" value='البحيره'>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">نقطه النهايه :</span>
                    <input type="text" class="col-md-7 Inputs" value='الاسكندريه'>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">المقابل</span>
                    <input type="number" class="col-md-7 Inputs" value=300>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">ادنى تاريخ</span>
                    <input type="date" class="col-md-7 Inputs" value='22-4-2022'>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">اقصى تاريخ</span>
                    <input type="date" class="col-md-7 Inputs" value='30-6-2022'>
                </div>
            </div>
        <div class="col-md-3 lll">
            <div class="row cardBtns">
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">تعديل</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">حفظ</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">حذف</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">
                    <a routerLink="/app-for-thing-to-be-done">
                    المتقدمين
                  </a></button></div>
            </div>
        </div>
    </div>
</div>