<div class="container">
    <div class="row space">
        <div class="col-lg-12">
        </div>
      </div>
    <h1>قائمه رحلاتى</h1>
    <div class="row jobCard">
        <div class="col-md-9 cardInfo">
                <div class="row">
                    <span class="col-md-4 heads">من :</span>
                    <input type="text" class="col-md-7 Inputs" value=''>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">الى :</span>
                    <input type="text" class="col-md-7 Inputs" value=>
                </div>
                <div class="row">
                    <span class="col-md-4 heads">التاريخ :</span>
                    <input type="date" class="col-md-7 Inputs" value=''>
                </div>
            </div>
        <div class="col-md-3 lll">
            <div class="row cardBtns">
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">تعديل</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">حفظ</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">حذف</button></div>
                <div class="col-md-11 col-4"><button type="button" class="btn btn-success">
                    <a routerLink="/my-offer-for-thing-to-be-done">
                    المتقدمين
                  </a></button></div>
            </div>
        </div>
    </div>
</div>