h1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
}
.row *{
    margin-top: 6px;
    margin-bottom: 6px;
}
.row{
    justify-content: space-around;
}
form .row *{
    direction: rtl;
}
form .row button{
    width: 100%;
    background-color: #2ECC71;
}
.spaceBeforeTheButton{
    opacity: 0;
}
label{
    font-weight: bold;
    margin: 10px 0;
    display: block;
}
.break{
    height: 3px;
    background-color: rgb(99, 99, 99);
}
.pog{
    margin: 60px 0;
}
.jobCard{
    border: 2px solid rgb(99, 99, 99);
    border-radius: 40px;
    padding: 20px 10px;
    margin: 20px 0;
    direction: rtl;
    align-items: center;
}
.jobCard *{
    direction: rtl;
}
.cardBtns button{
    background-color: #2ECC71;
    width: 100%;
}
.jobCard p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.Pic{
    border: 1px solid rgb(99, 99, 99);
    border-radius: 50%;
}
h5{
    text-align: center;
    padding-top: 10px;
}
.infoBox{
    border-left: 2px solid rgb(99, 99, 99);
    border-right: 2px solid rgb(99, 99, 99);
    padding-right: 30px;
}
.space{
    height: 100px;
}
@media screen and ( max-width:768px ) {
    .infoBox{
        border-left: 0px solid rgb(99, 99, 99);
        border-right: 0px solid rgb(99, 99, 99);
        border-top: 2px solid rgb(99, 99, 99);
        border-bottom: 2px solid rgb(99, 99, 99);
        padding-right: 30px;
    }
    .space{
        height: 150px;
    }
}